@model FutureValueModel
@{
    ViewBag.Title = "Future Value Calculator";
}


    <div class="jumbotron"><h1 class="jumbh1">Future Value Calculations</h1></div>
    
    <form asp-action="Index" method="post" >
        <div asp-validation-summary="All"></div>
        <div >
            <label  class="" asp-for="MonthlyInvestment">Monthly Investment:</label>
            <input class="" asp-for="MonthlyInvestment" /><br />
            <span asp-validation-for="MonthlyInvestment"></span>
        </div>
        <div class="">
            <label  class="" asp-for="YearlyInterestRate">Yearly Iterest Rate:</label>
            <input class="" asp-for="YearlyInterestRate" /><br />
        </div>
        <div class="">
            <label  class="" asp-for="Years">Number of Years:</label>
            <input class=""asp-for="Years" /><br />
        </div>
        <div class="form-group">
            <label class="" >Future Value:</label>
            <input class=""value="@ViewBag.FV.ToString("C2")" readonly><br />
        </div>
        <div class=""><button type="submit">Calculate</button><a asp-action="Index">Clear</a></div>
        
        
    </form>



